body {
    background-color:#bd2130;
    color:  magenta; 
}

header, main, nav, footer {
    text-align: center;
    color: #bd2130;
    
}

ol{
    color: #bd2130;
}


h1 {
    font-size: 4em;
    margin-bottom: 0px;
    color: Gray;
}


main {
    margin: auto;
    width:50%;
}

#me {
    float: left;
    color:purple;
    margin: auto;
   
}

#welcomeText {
    text-align: left;
   padding-left: 10px;
    padding-top: 0px;
   
    width:200px;
    font-size: 1.em;
    margin:20px;
}

footer{
    clear: left;
    font-size: .9em;
    color: red;
}
