body {
    background-color:#bd2130;
    color:  magenta; 
}

header, main, nav, footer {
    text-align: center;
    color: #bd2130;
    
}

ol{
    color: #bd2130;
}


h1 {
    font-size: 4em;
    margin-bottom: 0px;
    color: Gray;
}

nav a { /* link withing "nav" cointainer */
    padding: 15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none; /* removes underline */
    color: gray;  /* by default, link are blue */
}

nav a:hover {
    border-bottom:2px green solid;
    font-size: 2em;
    transition: .8s; /*transition effect*/
}

main {
    margin: auto;
    width:50%;
}

#me {
    float: left;
    color:purple;
    margin: auto;
   
}

#welcomeText {
    text-align: left;
   padding-left: 10px;
    padding-top: 0px;
   
    width:200px;
    font-size: 1.em;
    margin:20px;
}

footer{
    clear: left;
    font-size: .9em;
    color: red;
}
