body {
    background-color:black;
    color:gray;
}

header, main, nav, footer {
    text-align: center;
}

hr {
    color:red;
    display:block;
    width:50%;
}

h1 {
    
font-family: 'Baloo Tammudu', cursive;
font-size: 4em;
margin-bottom: 0px;
color: white;
}

nav a { /* links within "nav" container */
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
    }
    
nav a:hover {
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .8s;
}

main {
    margin: auto;
    width:50%;
}
    
    
#me,#welcomeText {
    float: left;
    color:white;
    margin: auto;
}
#welcomeText {
    text-align: left;
    padding-left: 10px;
    padding-top: 0px;
    width:250px;
    font-size: 1.em;
    margin:20px;
}

footer {
    clear: left;
    font-size: .9em;
    color: red;
}